:root {
    --clr-neutral-900: hsl(207, 19%, 9%);
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-accent-400: hsl(142, 90%, 61%);
}

*, *::before, *::after {
    box-sizing: border-box;
}



body {
   
   
    
    min-height: 100vh;
    place-items: start;
    line-height: 1.6;
    background: var(--clr-neutral-900);
    font-family: sans-serif;
    /* height:100% */
}

.main{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 
}

.card {
    color: var(--clr-neutral-100);
    background-image: url(img/harry.jpg);
    
    background-size: cover;
    padding: 10rem 0 0;
    max-width: 35ch;
    
    border-radius: .5rem;
    overflow: hidden;
    transition: transform 500ms ease;
    transform: scale(0.7);
  
}

.card:hover {
    /* transform: scale(0.7); */
    transform: scale(0.8);
}

.card:hover .card-content, .card:focus-within .card-content {
    transform: translateY(0);
    transition-delay: 400ms
}

.card-content {
    --padding: 1.5rem;
    padding: var(--padding);
    background: linear-gradient( hsl(0 0% 0% /0), hsl(20 0% 0% /0.3) 20%, hsl(0 0% 0% /1));
}

@media (hover) {
    .card-content {
        transform: translateY(55%);
        transition: transform 500ms ease;
    }
    .card:focus-within .card-content {
        transition-duration: 0ms;
        transition-delay: 0ms;
    }
    .card:hover .card-title::after, .card:focus-within .card-title::after {
        transform: scaleX(1);
    }
    .card:hover, .card:focus-within {
        /* transform:scale(1.05);   */
        transform: scale(0.8);
    }
    .card-content :not(.card-title) {
        opacity: 0;
        transition: opacity 2000ms ease;
    }
    .card:hover .card-content :not(.card-title), .card:focus-within .card-content :not(.card-title) {
        opacity: 1;
        transition-delay: 800ms;
    }
    .card-title::after {
        transform: scale(0);
        transition: transform 500ms ease;
        transform-origin: left;
    }
}

.card-title {
    position: relative;
    width: max-content;
    max-width: 100%;
}

.card-body {
    color: rgb(255 255 255 /0.9);
}

.card-title::after {
    content: "";
    position: absolute;
    height: 3px;
    left: calc(var(--padding)*-1);
    bottom: -2px;
    width: calc(100% + var(--padding));
    background: var(--clr-accent-400);
}

.button {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: var(--clr-neutral-900);
    background-color: var(--clr-accent-400);
    padding: 0.5em 1.25em;
    border-radius: .25em;
}

.button:hover, .button:focus {
    background-color: var(--clr-neutral-100);
}

.modal {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(0%, 0%, 0%, 0.7);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: none; */
    overflow: hidden;
}

.modal-window {
    width: 30%;
    height: 40%;
    background: white;
    padding: 25px;
    text-align: center;
    position: relative;
}

input {
    width: 50%;
    display: block;
    margin: 10px auto;
}

.close {
    position: absolute;
    top: 0;
    font-size: 42px;
    right: 14px;
    transform: rotate(45deg);
    cursor: pointer;
 
   
    
}

.close:hover {
    transform: scale(0.5) rotate(45deg);
    transition-delay: 500ms;
    transition-duration: 500ms;
   
}


.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    /* z-index: 1; Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Style page content */
  .main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }